
body{
    font:20px Arial, sans-serif
}

.navbar{
    background-color: darkgray;
    color: black;
}

.quem-somos{
    background-color: green;
    color: black;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: orangered;
    color: black;
}

.bg-footer{
    background-color: red;
    color: black;
}